[submodule "sub-web"]
    path = sub-web
    url = https://github.com/LM-Firefly/sub-web.git
[submodule "base/rules/LM-Firefly"]
    path = base/rules/LM-Firefly
    url = https://github.com/LM-Firefly/Rules.git
