name: Publish Docker Image
on:
  push:
    branches: [main]
    paths:
      - '**'
      - '!.github/**'
      - '!CHANGELOG.md'
      - '!sub-web/**'
  workflow_dispatch:
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  DOCKERHUB_REPO: fireflylzh/subconverter
  GHCR_REPO: ghcr.io/lm-firefly/subconverter
  GIT_TOKEN: ${{secrets.ACTIONS_TOKEN}}

# https://docs.docker.com/build/ci/github-actions/multi-platform/
jobs:
  build:
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            os: ubuntu-latest
          - platform: linux/386
            os: ubuntu-latest
          - platform: linux/arm/v7
            os: ubuntu-24.04-arm
          - platform: linux/arm64
            os: ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    name: Build and Push  ${{ matrix.platform }} Docker image to multiple registries
    outputs:
      version: ${{ steps.set-ver.outputs.set-ver }}
      sha: ${{ steps.set-ver.outputs.sha_short }}
    steps:
      - name: Write GITHUB_ENV
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV
      - name: Setup timezone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: 'Asia/Shanghai'
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Get commit SHA
        id: set-ver
        run: |
          echo "set-ver=$(date +%y.%m%d.%H%M-)$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DOCKERHUB_REPO }}
            ${{ env.GHCR_REPO }}
          tags: |
            type=raw,value=latest
            type=raw,value=v0.9.0-${{ steps.set-ver.outputs.set-ver }}
      #            type=semver,pattern={{version}}
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{env.GIT_TOKEN}}
      - name: Build and push Docker images
        id: build
        uses: docker/build-push-action@v6
        with:
          platforms: ${{ matrix.platform }}
          context: scripts/
          push: true
          tags: |
            ${{ steps.meta.outputs.tags }}
          #            ${{ env.DOCKERHUB_REPO }}:latest
          #            ghcr.io/lm-firefly/subconverter:latest
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            SHA=${{ steps.set-ver.outputs.sha_short }}
            VERSION=${{ steps.set-ver.outputs.set-ver }}
      #          outputs: type=image,"name=${{ env.DOCKERHUB_REPO }},${{ env.GHCR_REPO }}",push-by-digest=true,name-canonical=true,push=true
      #      - name: Generate artifact attestation
      #        uses: actions/attest-build-provenance@v2
      #        with:
      #          subject-name: subconverter
      #          subject-digest: ${{ steps.build.outputs.digest }}
      #          push-to-registry: true
      - name: Export digest
        run: |
          rm -rf /tmp/digests
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: digest-${{ env.PLATFORM_PAIR }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    name: Merge
    needs: build
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ needs.build.outputs.version }}
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: /tmp/digests
          pattern: digest-*
          merge-multiple: true
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{env.GIT_TOKEN}}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DOCKERHUB_REPO }}
            ${{ env.GHCR_REPO }}
          tags: |
            type=raw,value=latest
            type=raw,value=v0.9.0-${{ env.VERSION }}
      #            type=semver,pattern={{version}}
      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.DOCKERHUB_REPO }}@sha256:%s ' *)
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.GHCR_REPO }}@sha256:%s ' *)
      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.DOCKERHUB_REPO }}:${{ steps.meta.outputs.version }}
          docker buildx imagetools inspect ${{ env.GHCR_REPO }}:${{ steps.meta.outputs.version }}
